{% extends 'base.html.twig' %}

{% block title project.title %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>{{ project.title}}<h1>
        édité le {{project.formatedDate}}<br><br>
    </div>
</div>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            test
        </div>
        <div class="col-md-6"> 
            {{project.description}}<br>
            Pièce de : {{project.area}} m²<br>
            Sol en {{project.groundType}}</p><br>
        </div>
    </div>
    <a href="#" class="btn btn-primary">Contactez nous</a>  
</div>
{% endblock %}


    